.overlay {
    background: rgba(0, 0, 0, 0.6); /* Transparansi */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    text-align: center;
  }
  
  .group img {
    transition: transform 0.3s ease; /* Efek saat hover */
  }
  
  .group:hover img {
    transform: scale(1.02); /* Memperbesar gambar saat dihover */
  }
  